.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 60px;
  background-color: #1c1c1c;
}

.icono {
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  color: #aaaaaa;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icono:hover {
  background: #2a2a2a;
  color: #17c46a;
}

.icono.activo {
  background: #17c46a;
  color: #ffffff;
}

.tooltip {
  position: absolute;
  left: 55px;
  top: 50%;
  transform: translateY(-50%);
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  white-space: nowrap;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icono:hover .tooltip {
  opacity: 1;
  visibility: visible;
}